
.navbar-nav .nav-item.active .nav-link::after {
    content: "";
    display: block; 
   
    text-decoration: underline;
    font-size: 50px;
    margin-top: 10px;
    height: 4px;
    background-color: #1a6f0b;  
    text-underline-offset: 4px; 
}


  @media screen and (max-width:576px){
  .card.mb-4  {

  margin: 50px auto;
   margin-left: -20px;
} 
  }

  
